#==================== Mac OS files
*.DS_Store
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
Icon
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk

#==================== Windows OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN
*.cab
*.msi
*.msm
*.msp
*.lnk

#==================== IDEA IntelliJ
.idea
*.iws
/out/
.idea_modules
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

#==================== Eclipse files
.classpath
.project
.settings/
hs_err_pid*

#==================== Package/Output files
*.class
*.jar
*.war
*.ear

#==================== Log/DB files
*.log
*.sql
*.sqlite

#==================== Packages/Archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

#==================== Maven files
target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn
mvnw
mvnw.bat

#==================== Play framework
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

#==================== Scala files
*.class
*.log
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet
.ensime_cache/
.ensime

#==================== Project specific files
